<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head {{ HEAD_ATTRS }}>
  {{ HEAD }}
  <meta name="yandex-verification" content="6d259a7d1e30ac91" />
  <!-- Yandex.RTB -->
  <script>window.yaContextCb=window.yaContextCb||[]</script>
  <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>
<body {{ BODY_ATTRS }}>
{% if (process.env.NODE_ENV === 'production') { %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter53825959 = new Ya.Metrika({
          id:53825959,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/53825959" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% } %}


{{ APP }}


{% if (process.env.NODE_ENV === 'production') { %}
<script type="text/javascript" >
  setTimeout(() => {
    if (window.yaContextCb.length > 0) {
      window.yaContextCb = []
    }

    [1, 3, 4, 5, 6, 7, 8, 9].forEach(i => {
      if (!document.querySelector(`#yandex_rtb_R-A-490965-${i}`)) { return }

      window.yaContextCb.push(()=>{
        Ya.Context.AdvManager.render({
          renderTo: `yandex_rtb_R-A-490965-${i}`,
          blockId: `R-A-490965-${i}`
        })
      })
    })
  }, 1500)
</script>
{% } %}
</body>
</html>
