<template>
  <v-tabs
    v-if="horizontal"
    class="menu-tabs"
  >
    <v-tab
      v-for="item in menuItems"
      :key="`indexmenuitem${item.id}`"
      nuxt
      :to="item.to"
    >
      {{ item.text }}
    </v-tab>
  </v-tabs>
  <v-list-item-group v-else>
    <nuxt-link
      v-for="item in menuItems"
      :key="`indexmenuitem${item.id}`"
      :to="item.to"
      class="text-decoration-none"
    >
      <v-list-item>
        <v-list-item-icon>
          <v-icon v-text="item.icon" />
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-text="item.text" />
        </v-list-item-content>
      </v-list-item>
    </nuxt-link>
  </v-list-item-group>
</template>

<script>
export default {
  name: 'MenuItems',
  props: {
    menuItems: {
      type: Array,
      default: () => [],
    },

    horizontal: Boolean,
  },
}
</script>

<style lang="sass">
.menu-tabs
  .v-tab
    color: rgba(255, 255, 255, 0.6) !important
    &.v-tab--active
      color: #fff !important
</style>
