<template>
  <v-card
    class="mb-4"
    rounded="xl"
    :disabled="disabled"
  >
    <v-card-title v-text="newsItem.title" />
    <v-card-subtitle>{{ newsItem.published_at | transformDateTime }}</v-card-subtitle>
    <v-card-text>
      <div v-html="newsItem.content" />
      <v-img
        v-for="(image, index) in newsItem.featured_images"
        :key="index"
        :lazy-src="image.path"
      />
    </v-card-text>
    <v-card-actions class="mb-4 justify-end">
      <nuxt-link
        v-if="!self"
        class="d-none"
        :to="`/news/${newsItem.slug}`"
      >
        {{ newsItem.title }}
      </nuxt-link>

      <a
        :href="getVKUrl(newsItem.metadata)"
        class="text-decoration-none"
        target="_blank"
      >
        <v-btn
          rounded
          elevation="0"
          :color="isDark ? 'white' : 'primary'"
          small
          outlined
        >
          Перейти к оригиналу
        </v-btn>
      </a>
    </v-card-actions>
  </v-card>
</template>

<script>
import { transformDateTime } from '~/const/timeFormatter'

export default {
  name: 'NewsItemComponent',

  filters: {
    transformDateTime (value) {
      return transformDateTime(value)
    },
  },

  props: {
    newsItem: {
      type: Object,
      required: true,
    },

    disabled: Boolean,
    self: Boolean,
  },

  computed: {
    isDark () {
      return this.$vuetify.theme.dark
    },
  },

  methods: {
    getVKUrl (metadata) {
      try {
        return JSON.parse(metadata).vk_public_url
      } catch (_) {
        return ''
      }
    },
  },
}
</script>
