<template>
  <div class="text-center">
    <v-pagination
      :value="value"
      :length="total"
      :total-visible="totalVisible"
      :disabled="disabled"
      circle
      @input="$emit('update:value', $event)"
    />
  </div>
</template>

<script>
export default {
  name: 'Paginator',
  props: {
    value: {
      type: Number,
      default: 1,
    },

    total: {
      type: Number,
      default: 1,
    },

    totalVisible: {
      type: Number,
      default: 7,
    },

    circle: Boolean,
    disabled: Boolean,
  },
}
</script>
