<template>
  <v-list-item-group>
    <template
      v-for="(item, index) in items"
    >
      <nuxt-link
        v-if="item.slug"
        :key="index"
        :to="`/timetable/${optionType}/${item.slug}`"
        class="text-decoration-none"
      >
        <v-list-item>
          <v-list-item-icon />
          <v-list-item-content>
            <v-list-item-title v-text="item.name" />
          </v-list-item-content>
        </v-list-item>
      </nuxt-link>

      <v-list-item
        v-else
        :key="index"
        disabled
      >
        <v-list-item-title v-text="item.header" />
      </v-list-item>
    </template>
  </v-list-item-group>
</template>

<script>
export default {
  name: 'TGCItems',
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    optionType () {
      return this.$route.params.optionType
    },
  },
}
</script>
