<template>
  <div class="timetable">
    <h1 class="text-center mb-2">
      {{ timetable | tgcItemNameFormat }}
    </h1>
    <div v-if="timetable.lessons && !timetable.lessons.length">
      Нет занятий
    </div>
    <template v-else>
      <div
        v-for="(week, i) in timetable.lessons"
        :key="`week${i}`"
        class="timetable-week"
      >
        <div
          v-for="(day, date) in week"
          :key="date"
          class="timetable-day"
        >
          <v-chip class="timetable-day__date mb-4 align-self-center">
            {{ date | dateFormat }}
          </v-chip>
          <div class="timetable-day__lesson-wrapper">
            <timetable-card
              v-for="(lesson, ii) in day"
              :key="`lesson${ii}`"
              :lesson="lesson"
              class="timetable-day__lesson mb-4"
              :class="{
                double: day.length > 1,
                single: day.length === 1
              }"
            />
          </div>
        </div>

        <yandex-ad :ad-id="i+3" />
      </div>
    </template>
  </div>
</template>

<script>
import { TGC } from '~/const/const'
import { transformDate } from '~/const/timeFormatter'

export default {
  name: 'Timetable',

  filters: {
    tgcItemNameFormat (value) {
      switch (value.optionType) {
        case TGC.TEACHERS: return `Преподаватель ${value.tgcItemName}`
        case TGC.GROUPS: return `Группа ${value.tgcItemName}`
        case TGC.CLASSROOMS: return `Аудитория ${value.tgcItemName}`
        default: return ''
      }
    },

    dateFormat (value) {
      return transformDate(value)
    },
  },

  props: {
    timetable: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="sass">
.timetable-day
  display: flex
  flex-direction: column

  .timetable-day__lesson-wrapper
    display: flex
    flex-wrap: wrap

    @media screen and (min-width: 768px)
      .timetable-day__lesson.double
        max-width: calc(50% - 8px)
</style>
