<template>
  <v-card
    rounded="xl"
    class="timetable-day__lesson lesson"
  >
    <v-card-text>
      <v-icon
        class="lesson__time-icon"
        dense
        :title="iconTooltipTitleFormat(lesson.l_begin)"
      >
        {{ lesson | iconFormat }}
      </v-icon>

      <div>
        Время: {{ lesson.l_begin.slice(0, -3) }} - {{ lesson.l_end.slice(0, -3) }}
      </div>

      <template v-if="isTeachers">
        <div>
          Группа: <nuxt-link :to="`/timetable/groups/${lesson.group.slug}`">
            {{ lesson.group.name }}
          </nuxt-link>
        </div>
        <div>
          Аудитория: <nuxt-link :to="`/timetable/classrooms/${lesson.classroom.slug}`">
            {{ lesson.classroom.name }}
          </nuxt-link>
        </div>
      </template>
      <template v-if="isGroups">
        <div>
          Преподаватель: <nuxt-link :to="`/timetable/teachers/${lesson.teacher.slug}`">
            {{ lesson.teacher.name }}
          </nuxt-link>
        </div>
        <div>
          Аудитория: <nuxt-link :to="`/timetable/classrooms/${lesson.classroom.slug}`">
            {{ lesson.classroom.name }}
          </nuxt-link>
        </div>
      </template>
      <template v-if="isClassrooms">
        <div>
          Преподаватель: <nuxt-link :to="`/timetable/teachers/${lesson.teacher.slug}`">
            {{ lesson.teacher.name }}
          </nuxt-link>
        </div>
        <div>
          Группа: <nuxt-link :to="`/timetable/groups/${lesson.group.slug}`">
            {{ lesson.group.name }}
          </nuxt-link>
        </div>
      </template>
    </v-card-text>

    <v-card-actions class="lesson__discipline py-0">
      <v-icon>
        mdi-book-open-variant
      </v-icon>
      <v-card-text>{{ lesson | disciplineFormat }}</v-card-text>
    </v-card-actions>
  </v-card>
</template>

<script>
import { TGC } from '~/const/const'

export default {
  name: 'TimetableCard',
  filters: {
    disciplineFormat (value) {
      return `${value.discipline}` + (value.discipline_type ? ` (${value.discipline_type})` : '')
    },

    iconFormat (value) {
      return value.l_end < '18:00:00'
        ? 'mdi-white-balance-sunny'
        : 'mdi-weather-night'
    },
  },

  props: {
    lesson: {
      type: Object,
      required: true,
    },
  },

  computed: {
    isTeachers () {
      return this.$route.params.optionType === TGC.TEACHERS
    },

    isGroups () {
      return this.$route.params.optionType === TGC.GROUPS
    },

    isClassrooms () {
      return this.$route.params.optionType === TGC.CLASSROOMS
    },
  },

  methods: {
    iconTooltipTitleFormat (value) {
      return value < '12:00:00'
        ? 'Утром'
        : value < '18:00:00'
          ? 'Днем'
          : 'Вечером'
    },
  },
}
</script>

<style lang="sass">
.timetable-day__lesson
  display: flex
  flex-direction: column
  min-width: 320px
  position: relative
  width: 100%

  &:nth-child(odd)
    @media screen and (min-width: 768px)
      margin-right: 16px

  &.single
    margin-right: 0

  .v-card__text
    flex-grow: 1

  .lesson__time-icon
    position: absolute
    right: 12px
    top: 12px

  .lesson__discipline
    .v-icon
      margin-left: 8px
      margin-bottom: 3px
</style>
