<template>
  <v-card
    rounded="xl"
    elevation="2"
    class="ya-ad mb-4"
  >
    <div :id="`yandex_rtb_R-A-490965-${adId}`" />
  </v-card>
</template>

<script>
export default {
  name: 'YandexAd',
  props: {
    adId: {
      type: Number,
      default: 1,
    },
  },
}
</script>
