<!-- eslint-disable vue/no-unused-vars -->
<template>
  <div>
    <timetable :timetable="timetable" />

    <v-bottom-sheet
      v-model="bottomSheetVisibility"
      persistent
      inset
    >
      <template #activator="{on, attrs}">
        <v-btn
          class="default-fab"
          fab
          fixed
          right
          bottom
          @click="bottomSheetVisibility = true"
        >
          <v-icon>
            mdi-calendar
          </v-icon>
        </v-btn>
      </template>

      <v-sheet height="450px" class="text-center d-flex flex-column align-center pt-5">
        <v-date-picker
          v-model="period"
          :first-day-of-week="1"
          range
          label="Период"
          locale="ru"
        />

        <v-spacer />

        <div class="mb-3">
          <v-btn
            text
            color="error"
            @click="bottomSheetVisibility = false"
          >
            Отмена
          </v-btn>

          <v-btn
            text
            color="primary"
            @click="getCustomTimetable"
          >
            Получить
          </v-btn>
        </div>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { getTimetable, postTimetable } from '~/const/routes'
import { GET_TGC_ITEM_TITLE } from '~/const/const'

export default {
  name: 'TGCItem',

  data () {
    return {
      timetable: {},
      enabledWatcher: false,

      bottomSheetVisibility: false,
      period: [],
    }
  },

  async fetch () {
    this.timetable = await this.$axios.get(getTimetable(this.$route.params))
  },

  head () {
    return {
      title: GET_TGC_ITEM_TITLE(this.timetable.tgcItemName),
    }
  },

  methods: {
    async getCustomTimetable () {
      this.bottomSheetVisibility = false

      let dateFrom = this.period[0]
      let dateTo = this.period[1] || dateFrom
      if (dateFrom > dateTo) {
        [dateFrom, dateTo] = [dateTo, dateFrom]
      }

      this.timetable = await this.$axios.post(
        postTimetable(this.$route.params), { dateFrom, dateTo })

      this.rewriteAds()
    },

    rewriteAds () {
      [1, 3, 4, 5, 6, 7, 8, 9].forEach((i) => {
        if (!document.querySelector(`#yandex_rtb_R-A-490965-${i}`)) { return }

        window.yaContextCb.push(() => {
          // eslint-disabled
          window.Ya.Context.AdvManager.render({
            renderTo: `yandex_rtb_R-A-490965-${i}`,
            blockId: `R-A-490965-${i}`,
          })
        })
      })
    },
  },
}
</script>

<style lang="sass">
.timetable__date-picker
  padding: 0 16px
  border-bottom: 1px solid #111111
  margin-bottom: 16px
  outline: none

  &:active
    border-bottom: 1px solid #0074D9

</style>
