<template>
  <t-g-c-items :items="tgcList" />
</template>

<script>
import { getTgc } from '~/const/routes'
import { GET_TIMETABLE_LIST_TITLE } from '~/const/const'

export default {
  name: 'OptionType',

  data () {
    return {
      tgcList: [],
      enabledWatcher: false,
    }
  },

  async fetch () {
    this.tgcList = await this.$axios.get(getTgc(this.$route.params.optionType))
  },

  head () {
    return {
      title: GET_TIMETABLE_LIST_TITLE(this.$route.params.optionType),
    }
  },
}
</script>
