/******************************************* Scrollbar change *********************************************************/
/* Scrollbar width*/
::-webkit-scrollbar
  width: 6px
  height: 6px

/* Track */
::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0)
  -webkit-border-radius: 10px
  border-radius: 10px

/* Handle */
::-webkit-scrollbar-thumb
  -webkit-border-radius: 50px
  border-radius: 50px
  background: rgb(199, 199, 199)
  -webkit-box-shadow: inset 0 0 6px rgba(194, 194, 194, 0.5)

/* Scrollbar color */
::-webkit-scrollbar-thumb:window-inactive
  background: #e8e8e8

.ftt-workspace
  max-width: 768px !important
  width: 100% !important

.ya-ad
  opacity: 0.3
  overflow-x: hidden
  &:hover
    opacity: 1

  yatag
    yatag
      padding: 16px !important

  @media screen and (max-width: 768px)
    yatag
      max-width: calc(100vw - 32px)
      yatag
        max-width: inherit


