<template>
  <div class="news-item-wrapper">
    <news-item-component
      :news-item="newsItem"
      self
    />

    <yandex-ad />
  </div>
</template>

<script>
import { getNewsItem } from '~/const/routes'

export default {
  name: 'NewsItem',
  data () {
    return {
      newsItem: {},
    }
  },

  async fetch () {
    this.newsItem = await this.$axios.get(getNewsItem(this.$route.params.newsItem))
  },
}
</script>
