<template>
  <div class="page-news">
    <h1 class="text-center">
      Новости из группы ВК
    </h1>

    <v-card
      v-if="!(newsObject.data && newsObject.data.length > 0)"
      :loading="true"
    >
      <v-card-text>Ничего не найдено</v-card-text>
    </v-card>

    <paginator
      v-if="newsObject.data && newsObject.data.length > 0"
      :value.sync="newsObject.current_page"
      :total="newsObject.last_page"
      :disabled="isNewsItemsDisabled"
      circle
      class="mb-4"
    />

    <news-item-component
      v-for="newsItem in newsObject.data"
      :key="`newsItem${newsItem.id}`"
      :news-item="newsItem"
      :disabled="isNewsItemsDisabled"
    />

    <yandex-ad />

    <paginator
      v-if="newsObject.data && newsObject.data.length > 0"
      :value.sync="newsObject.current_page"
      :total="newsObject.last_page"
      :disabled="isNewsItemsDisabled"
      circle
      class="mt-4"
    />
  </div>
</template>

<script>
import { getNews } from '~/const/routes'

export default {
  name: 'Index',

  data () {
    return {
      newsObject: {
        current_page: 1,
        last_page: 1,
        data: [],
      },

      isNewsItemsDisabled: false,
    }
  },

  async fetch () {
    this.newsObject = await this.$axios.get(getNews(+this.$route.query.page || 1))
  },

  watch: {
    'newsObject.current_page' (to) {
      this.getNews(to)
    },
  },

  methods: {
    getNews (page) {
      this.isNewsItemsDisabled = true

      this.$axios.get(getNews(page))
        .then((response) => {
          this.newsObject = response
        })
        .finally(() => { this.isNewsItemsDisabled = false })
    },
  },
}
</script>
