<template>
  <v-app :dark="dark">
    <v-app-bar
      app
      absolute
      elevation="1"
      :color="appBarBGColor"
      class="app-header"
    >
      <v-app-bar-nav-icon
        class="app-header__menu-btn white--text"
        @click.stop="drawer = !drawer"
      />

      <v-toolbar-title class="app-header__title white--text">
        <nuxt-link
          to="/"
          class="white--text text-decoration-none"
        >
          Fast-tt.ru
        </nuxt-link>
      </v-toolbar-title>

      <menu-list
        :menu-items="menuItems"
        horizontal
        class="app-header__menu"
      />
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
    >
      <menu-list :menu-items="menuItems" />
    </v-navigation-drawer>

    <v-main app>
      <v-container class="ftt-workspace">
        <nuxt />
      </v-container>
    </v-main>

    <v-footer
      padless
      class="px-3"
    >
      <v-spacer />
      <span class="mr-2">Тема (бета)</span>
      <v-switch v-model="dark" dense />
    </v-footer>
  </v-app>
</template>

<script>
import { MENU_ITEMS_NAV_DRAWER } from '~/const/const'

export default {
  data () {
    return {
      dark: null,
      drawer: false,

      appWidth: 0,

      menuItems: MENU_ITEMS_NAV_DRAWER,
    }
  },

  computed: {
    appBarBGColor () {
      return this.dark
        ? '#272727'
        : '#1976D2'
    },

    isBigScreen () {
      return this.appWidth > 800
    },
  },

  watch: {
    dark (to) {
      this.$vuetify.theme.dark = to

      if (process.client) {
        localStorage.setItem('isThemeDark', to)
        document.querySelector('body').style.backgroundColor = this.dark
          ? '#272727'
          : '#ffffff'
      }
    },

    '$route.fullPath' () {
      if (process.client) {
        setTimeout(() => {
          if (window.yaContextCb.length > 0) {
            window.yaContextCb = []
          }

          [1, 3, 4, 5, 6, 7, 8, 9].forEach((i) => {
            window.yaContextCb.push(() => {
              /* eslint-disable */
              Ya.Context.AdvManager.render({
                renderTo: `yandex_rtb_R-A-490965-${i}`,
                blockId: `R-A-490965-${i}`,
              })
              /* eslint-enable */
            })
          })
        }, 1500)
      }
    },
  },

  created () {
    this.dark = this.isDarkTheme()

    this.$axios.onResponse((response) => {
      if (response.status === 200) {
        return response.data
      }

      return Promise.reject(response)
    })
  },

  methods: {
    isDarkTheme () {
      if (process.client) {
        return JSON.parse(localStorage.getItem('isThemeDark')) || false
      }
    },
  },
}
</script>

<style lang="sass">
.app-header
  display: flex

  .app-header__title
    min-width: max-content

  .v-toolbar__content
    justify-content: space-between
    width: 100%

  .app-header__menu
    @media screen and (max-width: 820px)
      display: none

    .v-slide-group__content
      justify-content: flex-end

  .app-header__menu-btn
    @media screen and (min-width: 820px)
      display: none
</style>
