<template>
  <div class="page-about">
    <h1 class="text-center mb-2">
      Быстрое расписание БФ ПНИПУ
    </h1>
    <h2 class="mb-2">
      О нас
    </h2>
    <p>Быстрое расписание БФ ПНИПУ - самостоятельный проект, а также зеркало официального расписания, однако мы имеем ряд достоинств:</p>
    <ol>
      <li>Адаптивность - сайт использует адаптивную вёрстку, поэтому сайтом удобно пользоваться на любых устройствах, как на обычных компьютерах, так и на телефонах, и на планшетах</li>
      <li>Аудитории - у нас есть возможность просмотра расписания в аудиториях</li>
      <li>Внешний вид - используя современные технологии, мы получаем такое-же современное оформление</li>
      <li>Доступность и независимость - мы используем свои сервера для быстрого расписания, поэтому когда официальное не работает, мы попрежнему в сети</li>
      <li>Скорость работы - мы используем кэш для расписания, поэтому оно доступно практически моментально</li>
    </ol>

    <h2 class="mt-2">
      Не просто сайт...
    </h2>
    <p>...мы сервис! Сайт это лишь часть. Сервис состоит из:</p>
    <ol>
      <li><a href="https://vk.com/raspisaniebfpnipu">Сообщество в Вконтакте</a></li>
      <li><a href="https://t.me/fast_tt_ru">Канал в Telegram</a></li>
      <li>Сайт быстрого расписания. *** Вы находитесь тут ***</li>
    </ol>

    <h2 class="mt-2">
      Как узнать расписание?
    </h2>
    <p>
      Тогда нажмите на одну из кнопок:
      <router-link to="/timetable/groups">
        Группы
      </router-link>,
      <router-link to="/timetable/teachers">
        Преподаватели
      </router-link> или
      <router-link to="/timetable/classrooms">
        Аудитории
      </router-link>!
    </p>

    <h2 class="mt-2">
      Связаться с нами
    </h2>
    <ol>
      <li><a href="https://vk.com/tazaq" target="_blank">Разработчик</a></li>
      <li><a href="mailto:tazaqsp@mail.ru" target="_blank">tazaqsp@mail.ru</a> В теме укажите "Быстрое расписание БФ ПНИПУ"</li>
    </ol>
  </div>
</template>

<script>
export default {
  name: 'About',
}
</script>
