<template>
  <div class="page-index">
    <v-card
      elevation="2"
      class="app-intro mb-3"
      rounded="xl"
    >
      <v-card-title class="app-intro__title">
        <h1 class="app-intro__title-text">
          Привет!
        </h1>
      </v-card-title>
      <v-card-text class="app-intro__sub-title">
        Добро пожаловать на сайт - зеркало расписания БФ ПНИПУ! Здесь Вы можете найти расписание преподавателей, групп и аудиторий
      </v-card-text>
    </v-card>

    <v-card
      elevation="2"
      rounded="xl"
      class="app-timetable-intro mb-4"
    >
      <v-card-title class="app-timetable-intro__title">
        <h2 class="app-timetable-intro__title-text">
          Быстрое расписание БФ ПНИПУ
        </h2>
      </v-card-title>
      <v-card-text>
        <menu-list :menu-items="menuItems" />
      </v-card-text>
    </v-card>

    <yandex-ad />
  </div>
</template>

<script>
import { MENU_ITEMS_DEFAULT } from '~/const/const'

export default {
  name: 'Index',

  data () {
    return {
      menuItems: MENU_ITEMS_DEFAULT,
    }
  },
}
</script>

<style lang="sass">
.app-intro
  .app-intro__title
    display: flex
    justify-content: center

    .app-intro__title-text
      font-size: 32px

.app-timetable-intro
  .app-timetable-intro__title
    .app-timetable-intro__title-text
      font-size: 24px
</style>
